:root {
	font-family: Montserrat;
	font-weight: 400;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #cba6f7;
}

#root {
	border: 1px solid #cba6f7;
	padding: 25px;
}

a {
	font-weight: 500;
	display: block;
}

body {
	margin: 0;

	padding: 50px 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	background-color: #0a000c;
}

img {
	display: block;
}
